body { 
	margin: 0; 
	padding: 0; 
	font-family: Arial, Helvetica, Sans-Serif;
	background:none;
	color:#000;
}

#page { 
	margin-left: auto; 
	margin-right: auto; 
	width: 960px; }

#header { 
	background-image:url(images/header.gif); 
	background-position:center top;
	background-repeat:no-repeat;
	background-color:white;
	}

#logo img {
	float:none;
}
#logo-title { 
	text-align:center; 
}

#content{
	float:right;
	padding:0 0 0 10px;
	width:700px;
}

#logo-title img{
	margin:10px;
}

#secondary{
	float:right;
	margin:-30px 10px 0 0;
}

#site-name, .title { 
	padding:10px; 
	margin: 0px 30px; 
	font-size: 2em; 
	font-weight:normal; 
	text-align:center; 
	border-bottom:1px dotted #939598; 
	border-top:1px dotted #939598; }

.title {
	border:none;
	text-align:left;
	margin:0px;
	padding:0px;
}
	
#site-name a:link, #site-name a:visited {
    color: #000;
    text-decoration: none;
	font-weight:normal; }

#search-box { 
	background-image:url(images/books.gif); 
	height:120px;
	background-position:center center;
	background-repeat:no-repeat; }

#search-box label { 
	display:none; }
	
#search-box form { 
	text-align:right;
	padding:60px 40px 0 0;}

#main{	
	float:left;
	margin:-20px 0 0;
}

#sidebar-left {
	border-right:none;
	float:left;
	background-color:green;
	margin:-40px 0 0 10px;
	padding:0 10px;
	color:#000;
}

#sidebar-left h2, #sidebar-left a{
	color:#fff;
}

#sidebar-left h2{
	font-size:2em;
	margin:3px 0px;
}

body.sidebar-left #footer {
	margin-left:0;
	clear:both;
}

.block {
	border-bottom:none;
	margin-bottom:0px;
}

a:link, a:hover, a:visited{
	color:#00407E;
}