body { 
	margin: 0; 
	padding: 0; 
	font-family: Arial, Helvetica, Sans-Serif;
	background:none;
	color:#000;
}

#page { 
	margin-left: auto; 
	margin-right: auto; 
	width: 960px; }

#header { 
	background-image:url(images/header.gif); 
	background-position:center top;
	background-repeat:no-repeat;
	background-color:white;
	}

#logo img {
	float:none;
}
#logo-title { 
	text-align:center; 
}

#content{
	float:right;
	padding:0 0 0 10px;
	width:700px;
}

#content-bottom-left{
	float:left;
}

#content-bottom-right{
	float:right;
}

#logo-title img{
	margin:10px;
}

#secondary{
	float:right;
	margin:-30px 10px 0 0;
}

#site-name, .title { 
	padding:10px; 
	margin: 0px 30px; 
	font-size: 2em; 
	font-weight:normal; 
	text-align:center; 
	border-bottom:1px dotted #939598; 
	border-top:1px dotted #939598; }

.title {
	border:none;
	text-align:left;
	margin:0px;
	padding:0px;
}
	
#site-name a:link, #site-name a:visited {
    color: #000;
    text-decoration: none;
	font-weight:normal; }

#search-box { 
	background-image:url(images/books.gif); 
	height:120px;
	background-position:center center;
	background-repeat:no-repeat; }

#search-box label { 
	display:none; }
	
#search-box form { 
	text-align:right;
	padding:60px 40px 0 0;}

#search .form-text, #search .form-submit {
	border:1px solid black;
}

#main{	
	float:left;
	margin:-20px 0 0;
}

#sidebar-left {
	border-right:none;
	float:left;
	background:none;
	margin:-44px 0 0 0;
	padding:0 10px;
	color:#000;
}

#sidebar-left .block{
	background:green;
	padding:5px;
	margin:5px 5px 10px 5px;
}

#sidebar-left h2, #sidebar-left a{
	color:#fff;
	font-size:0.9em;
}

#sidebar-left h2{
	font-size:1.1em;
	margin:0px 0px 0px 0px;
}

#sidebar-left { text-shadow: black 1px 1px; }

body.sidebar-left #footer, #footer {
	margin-left:0;
	clear:both;
}


.block {
	border-bottom:none;
	margin-bottom:0px;
}

a { font-weight:normal; }
a:link, a:hover, a:visited{
	color:#00407E;
}

li.collapsed{
	list-style-image:url(images/mais.gif);
}

li.expanded{
	list-style-image:url(images/menos.gif);
}

li.leaf {
	list-style-image:url(images/leaf.gif);
}


#menu-bibliotecas li{
	list-style:none;
	text-transform:uppercase;
	padding:5px;
	background:red;
	margin:0px -4px 0 -16px;
	font-size:1.2em;
	border-bottom:1px solid white;
	text-shadow: black 1px 1px;
}

#menu-bibliotecas li.um    { background-color:#54A443; }
#menu-bibliotecas li.dois  { background-color:#439441; }
#menu-bibliotecas li.tres  { background-color:#2B863E; }
#menu-bibliotecas li.quatro{ background-color:#13793B; }
#menu-bibliotecas li.cinco { background-color:#086D37; }
#menu-bibliotecas li.seis  { background-color:#076234; border-bottom:none; }

